<div class="controls-container">
  <button class="control-btn" (click)="previous.emit()" title="Anterior">
    <svg role="img" height="16" width="16" viewBox="0 0 16 16">
      <path
        fill="currentColor"
        d="M13 2.5L5 7.119V3H3v10h2V8.881l8 4.619z"
      ></path>
    </svg>
  </button>
  <button class="control-btn play-btn" title="Reproducir (Simulado)">
    <svg role="img" height="16" width="16" viewBox="0 0 16 16">
      <path fill="currentColor" d="M4.018 14L14.41 8 4.018 2z"></path>
    </svg>
  </button>
  <button class="control-btn" (click)="next.emit()" title="Siguiente">
    <svg role="img" height="16" width="16" viewBox="0 0 16 16">
      <path fill="currentColor" d="M3 13.5L11 8.881V13h2V3h-2v4.119L3 2.5z"></path>
    </svg>
  </button>
</div>
